<mat-divider></mat-divider>
<footer>
    <div fxLayout="row" fxLayoutAlign="flex-start">
        <div style="flex:1;">&copy; All rights reserved, Profero Technology 2020</div>
        <div style="flex:2;">
            <div fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon style="margin: 0px 5px 0px 15px; color:lightgreen">cloud</mat-icon>
                    Cloud Connected
                    <mat-icon style="margin: 0px 5px 0px 15px; color:lightgreen">link</mat-icon>
                    Device Connected
            </div>
        </div>
    </div>
</footer>